<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PollServlet</servlet-name>
        <servlet-class>PollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateExcelFile</servlet-name>
        <servlet-class>GenerateExcelFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateChart</servlet-name>
        <servlet-class>GenerateChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PollServlet</servlet-name>
        <url-pattern>/PollServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateExcelFile</servlet-name>
        <url-pattern>/excel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateChart</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/301redirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
